<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/swap">Swap</a>
          </li>

        </ul>
        <div class="float-right">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary">Log Out</button>
            </form>
        </div>
      </div>
    </nav>
    <div class="container">

        <div class="row mt-3 pt-3">
          <div class="col-md-12" id="keyStats">
              <h5 class="font-weight-bold text-left section-title">KEY STATS</h5>
          </div>
          <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body" id="keyStatsAvgSwaps">
                  <h6 class="card-title">Avg Swaps per day:</h6>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body" id="keyStatsAvgRide">
                <h6 class="card-title">Avg ride distance per day: </h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body" id="keyStatsAvgEnergy">
                  <h6 class="card-title">Avg energy per day per driver:</h6>
                </div>
              </div>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-12">
              <h5 class="font-weight-bold text-left section-title">DRIVERS SWAP STATS</h5>
          </div>
        </div>
        <div class="card mb-4">
          <!-- Card content -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Charging Station</th>
                    <th scope="col">Total Energy (Ah)</th>
                    <th scope="col">Ride Distance (Km)</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody id="swapStats">
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row py-2">
          <div class="col-md-12">
              <h5 class="font-weight-bold text-left section-title">DAILY SWAPS (per Driver)</h5>
          </div>
        </div>
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card content -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver</th>
                    <th scope="col">No. Swaps (Daily)</th>
                    <th scope="col">Total Energy (Daily) (Ah)</th>
                    <th scope="col">Total Distance (Daily) (Km)</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody id="dailyDriverSwaps">
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

  </body>
  <script src="javascripts/dashboard.js"></script>
</html>
