<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>

  </head>
  <body>

    <div class="container">

      <div class="wrapper fadeInDown ">
        <div id="formContent" class="col-lg-4 mx-auto">

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="images/ampersand.jpg" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <% if (messages.error) { %>
            <%= messages.error %>
          <% } %>
          <form action="/login" method="POST">
            <div class="mx-auto justify-content-center col-lg-10 mx-auto">
              <div class="form-group">
              <input type="email" id="email" class="fadeIn second form-control" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <input type="password" id="password" class="fadeIn second form-control" name="password" placeholder="Password">
            </div>

            <input type="submit" class="fadeIn fourth btn-block" value="Log In">
            </div>


          </form>

        </div>
      </div>


    </div>

  </body>
</html>
