<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Swap</a>
          </li>

        </ul>
        <div class="float-right">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary">Log Out</button>
            </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- Card -->
      <div class="card mb-4">
        <!-- Card content -->
        <!-- <h2><%= title %></h2> -->
          <br></br>
        <div class="card-body">
          <div id="messsage"></div>
          <div id="swap-transaction-form-div">
            <form id="swapTransactionForm">

              <div class="form-group">
                <label for="driver">Charging Station</label>
                <select class="form-control" id="charging_station_select_box" name ="chargingStation" required>
                </select>
              </div>

              <div class="form-group">
                <label for="driver">Driver</label>
                <select class="form-control" id="driver_select_box" name ="driver" required>
                </select>
              </div>

              <div class="form-group col-xs-6">
                  <label for="batteryInSn">Battery IN</label>
                  <input class="form-control" name="batteryInSn" disabled placeholder="Select Driver First">
              </div>

              <div class="form-group col-xs-6">
                  <input class="form-control" id="battery_in" name="batteryIn" hidden>
              </div>

              <div class="form-group col-xs-6">
                  <input class="form-control" id="fee" name="fee" hidden>
              </div>

              <div class="form-group col-xs-6">
                  <label for="odometer_reading">Battery Charge when taken</label>
                  <input class="form-control" id="prev_battery_out_charge" name="prevBatteryOutCharge" readonly>
              </div>

              <div class="form-group col-xs-6">
                  <label for="lastname">Battery IN Charge</label>
                  <select class="form-control" id="battery_in_charge_select_box" name ="batteryInCharge" required>
                  </select>
              </div>

              <div class="form-group col-xs-6">
                  <label for="battery_in">Battery OUT</label>
                  <select class="form-control" id="battery_out_select_box" name ="batteryOut" required>
                  </select>
              </div>

              <div class="form-group col-xs-6">
                  <label for="lastname">Battery OUT Charge</label>
                  <select class="form-control" id="battery_out_charge_select_box" name ="batteryOutCharge" required>
                  </select>
              </div>

              <div class="form-group col-xs-6">
                  <label for="odometer_reading">Previous Odometer Reading</label>
                  <input class="form-control" id="prev_odometer_reading" name="prevOdometerReading" readonly>
              </div>

              <div class="form-group">
                <label for="odometer_reading">Current Odometer Reading</label>
                <input class="form-control" id="odometer_reading" name="odometerReading" placeholder="Record Odometer Reading" required>
              </div>

              <button id="submitButton" type="submit" value="send" class="btn btn-primary">Submit</button>

            </form>
          </div>
        </div>
        <!-- Card content -->
      </div>
    </div>

  </body>
  <script src="javascripts/swap.js"></script>

</html>
