<title><%= title %></title>

<!-- Bootstrap core CSS -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/bootstrap-select.css" rel="stylesheet">
<link href="stylesheets/style.css" rel="stylesheet">


<!-- Bootstrap core JavaScript -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.bundle.min.js"></script>
<script src="javascripts/bootstrap-select.min.js"></script>
